#bag{
	width: 200px;
	height: 500px;
	margin: 0 auto;
	background: url(img/joan.jpg) center no-repeat;
	background-size: 100%;
}

#bag.burst {
	width: 200px;
	height: 500px;
	margin: 0 auto;
	background: url(img/joanburst.jpg) center no-repeat;
	background-size: 100%;
}

#bag-health{
	width: 200px;
	border: 2px solid #000;
	margin: 0 auto 20px auto;
}

#bag-health div{
	height: 20px;
	background: crimson;
}

#controls {
	width: 120px;
	margin: auto;
}


#canvas{
	width: 500px;
	padding: 100px 20px;
	text-align: center;
	border: 1px solid blue;
}

span{
	background-color: red;
}

.available span {
	background-color: blue;
}